# Temp scratch & build
target/
*.class
apache-maven-3.9.9/

# IDE & Editor files
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# OS temporary files
.DS_Store
Thumbs.db

# Log files
*.log

# Sub-folder archive
HealthConnect-SE2030-Group07 (1)/
